.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
  user-select: none;
  overflow: hidden;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

.board-wrapper {
  min-height: 50vmin;
  width: 80vmin;
  font-size: 2vmin;
  border-radius: 20px;
  border: 1px solid;
  margin-top: 20px;
  padding: 20px;
}

.term-wrapper {
  height: 15%;
  width: 100%;
  padding: 10px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid;
}

.definition-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25%;
  width: 100%;
  padding: 10px 0px;
  border-bottom: 1px solid;
}

.slot-wrapper {
  width: calc(2vmin + 70px);
  height: 70%;
  min-height: 60px;
  padding: 0px 20px;
  border: 1px dashed;
  border-radius: 10px;
  margin: 5px
}

.deck-wrapper {
  height: 60%;
  width: 100%;
  padding: 10px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card-wrapper {
  position: relative;
  width: calc(2vmin + 70px);
  height: 60px;
  padding: 0px 20px;
  margin: 10px;
  border: 1px solid;
  border-radius: 10px;
  background-color: #282c34;
  transition: initial;
}

.wrong-card {
  border: 1px solid red;
}

.dropping {
  transition: transform .3s ease, border .1s linear;
}

.completed {
  border: 1px solid lightgreen;
}

.card-wrapper p {
  pointer-events: none;
}

.card-wrapper:hover {
  cursor: grab;
}

.card-wrapper:active {
  cursor: grabbing;
}
